.brand-btn {
    margin: 20px;
    padding: 20px 31px;
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-gradient);
    border: 0;
}

.text-bold {
    font-weight: bolder;
}

hr {
    border: 0.2px solid white;
}

.border-t {
    border-top: 0.2px solid #FFFFFF1A;
}

.gap-5 {
    gap: 150px;
}

.mt-3 {
    margin-top: 70px;
}

.brand-link {
    color: #E224DB;
    text-decoration: none;
}

.section-heading {
    font-size: 48px;
    font-weight: 700px;
    line-height: 66px;
}

.border {
    border: 0.2px solid gray;
}

.justify-between {
    justify-content: space-between;
}

.w-fit {
    width: fit-content;
}

.rounded-full {
    border-radius: 50%;
}

.blur {
    backdrop-filter: blur(10px);
}

.flex-row {
    flex-direction: row;
}

.w-100vw {
    width: 100vw;
}

.overflow-hide {
    overflow: hidden;
}

.brand-gap {
    gap: 30px;
}

.text-24px {
    font-size: 24px;
}

.line-h-40prcnt {
    line-height: 40%;
}

.link {
    text-decoration: none;
    color: #000;
}

.brand-text-primary {
    font-size: 16px;
}

.brand-text-secondary {
    font-size: 18px;
    line-height: 36px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.grid {
    display: grid;
}

.grid-col {
    float: left;
    width: 50%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.rounded {
    border-radius: 50px;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.bg-transperant {
    background: transparent;
}

.gap-2 {
    gap: 48px;
}

.btn:hover {
    cursor: pointer;
}

.pos-relative {
    position: relative;
}


.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white!important;
}

.text-black {
    color: black;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.w-70prcnt {
    width: 70%;
}

.w-75prcnt {
    width: 75%;
}

.overflow-visible {
    overflow: visible;
}

.w-80prcnt {
    width: 80%;
}

.w-60rem {
    width: 60rem;
}

.w-70rem {
    width: 70rem;
}

.w-75rem {
    width: 75rem;
}

.w-80rem {
    width: 80rem;
}

.w-90rem {
    width: 90rem;
}

.w-85prcnt {
    width: 85%;
}

.w-90prcnt {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mx-auto {
    margin: 0 auto;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 4rem;
}


.px-1 {
    padding: 0 0.5rem;
}

.px-2 {
    padding: 0 1rem;
}

.px-3 {
    padding: 0 1.5rem;
}

.px-4 {
    padding: 0 2.5rem;
}

.px-5 {
    padding: 0 4rem;
}

.pl-5 {
    padding: 0 0 0 4rem;
}

.pr-5 {
    padding: 0 4rem 0 0;
}

.gap-1 {
    gap: 0.5rem;
}

.mt-5 {
    margin-top: 150px;
}

.tiny-icon {
    width: 15px;
    height: 15px;
}

.z-2 {
    z-index: 2;
}

.z-5 {
    z-index: 5;
}

.h-screen {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.brand-h5 {
    font-size: 24px;
    font-weight: 600px;
}

.h-fit {
    height: fit-content;
}

.mr-5 {
    margin-right: 3rem;
}

.text-20 {
    font-size: 20px;
}

.gray-15prcnt {
    color: gray;
    opacity: 0.15;
}

.overlay {
    background-color: #030014;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.gap-2 {
    gap: 1.5rem;
}

.col {
    flex: 1;
}

.rounded-sm {
    border-radius: 15px;
}

.bg-pink {
    background-color: #E224DB!important;
}

.text-para {
    color: #9CA3AF;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400px;
}

.z-7 {
    z-index: 7;
}