@media screen and (max-width: 1500px) {
    .w-80rem {
      width: 70rem;
    }
    .w-90rem {
        width: 70rem;
    }
    .line {
        top: 37.5%;
        opacity: 0.2;
    }
    .hero-title {
      font-size: 60px;
    }
    .section-heading {
      font-size: 38px;
      line-height: 40px;
    }
}