.responsive-hide-always {
  display: none;
  margin-bottom: 100px;
}

/* for small desktops / laptops */
@media screen and (max-width: 1500px) {
  .w-80rem {
    width: 70rem;
  }

  .w-90rem {
    width: 70rem;
  }

  .steps-arrow-1 {
    top: 35%;
    width: 20%;
    left: 24.5%;
  }

  .steps-arrow-2 {
    top: 35%;
    width: 20%;
    right: 25.5%;
  }

  .hero-title {
    font-size: 60px;
  }

  .section-heading {
    font-size: 38px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1250px) {
  .nav-link-res {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
/* for tabs */

@media screen and (max-width: 1200px) {
  .w-80rem {
    width: 50rem;
  }

  .w-70rem {
    width: 50rem;
  }

  .w-90rem {
    width: 50rem;
  }

  .steps-arrow-1, .steps-arrow-2 {
    display: none;
  }

  .pricing-heading {
    text-align: center;
    margin-top: 20px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .responsive-hide-always {
    display: flex;
  }

  .responsive-hide-1200 {
    display: none;
  }

  .footer-text {
    text-align: center;
  }

  .mr-5 {
    margin-right: 0;
  }
  .gap-0 {
    gap: 30px;
  }

  .w-55prcnt {
    width: 100%;
    gap: 30px;
  }

  .responsive-mt-5 {
    margin-top: 50px;
  }

  .testimonial-container-1 {
    flex-direction: row;
  }

  .testimonial-container-2 {
    flex-direction: row;
  }
}


@media screen and (max-width: 1000px) {
  .w-80rem {
    width: 40rem;
  }

  .w-70rem {
    width: 40rem;
  }
  
  .tutorial-help {
    transform: translateY(-20%);
  }

  .w-90rem {
    width: 40rem;
  }

  .hero-title {
    font-size: 40px;
  }

  .brand-text-secondary {
    font-size: 16px;
  }

  .section-heading {
    font-size: 28px;
    line-height: 30px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .mr-5 {
    margin-right: 0;
  }
  .gap-0 {
    gap: 30px;
  }

  .w-55prcnt {
    width: 100%;
    gap: 30px;
  }

  .x-icon {
    height: 30px;
  }

  .responsive-mt-5 {
    margin-top: 50px;
  }

  .testimonial-container-1 {
    flex-direction: row;
  }

  .testimonial-container-2 {
    flex-direction: row;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    width: 90%;
  }

  .bg-footer-area {
    padding-top: 30px!important;
  }

  .text-20 {
    font-size: 14px!important;
  }

  .w-80rem {
    width: 30rem;
  }

  .w-90rem {
    width: 30rem;
  }

  .w-70rem {
    width: 30rem;
  }

  .pricing-container {
    flex-direction: column!important;
    width: 90%;
  }

  .w-50prcnt {
    width: 100%;
  }

  .p-5 {
    padding: 0;
  }

  .mt-5 {
    margin-top: 50px;
  }

  .testimonial-container-1 {
    transform: scale(0.5);
  }

  .hero-title {
    line-height: normal;
  }

  .tutorial-help span {
    font-size: 20px!important;
  }

  .tutorial-help button {
    padding: 20px!important;
  }

  .brand-text-secondary {
    line-height: normal;
  }

  .testimonial-container-2 {
    transform: scale(0.5);
    margin-top: -170px;
  }

  .w-90rem {
    width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .w-80rem {
    width: 25rem;
  }

  .w-70rem {
    width: 25rem;
  }

  .w-90rem {
    width: 25rem;
  }

  .tutorial-help {
    top: 30%;
  }

  .mt-5 {
    margin-top: 30px;
  }

  .p-4 {
    padding: 1rem!important;
  }

  .p-3 {
    padding: 10px!important;
  }

  .faq-question {
    font-size: 20px;
  }

  .text-24px {
    font-size: 18px;
  }

  .hero-title {
    font-size: 30px;
  }

  .section-heading {
    font-size: 24px;
    line-height: 22px;
  }

  .brand-text-secondary {
    font-size: 14px;
  }
}